<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>My Website - Register</title>
</head>
<body>

<div class="topnav">
  <a href="{{ url_for('main') }}">Home</a>
  <a href="{{ url_for('about') }}">About</a>
  <a href="{{ url_for('contact') }}">Contact</a>
  <a class="active" href="">Register</a>
  <div class="login-container">
    <form action="/login" method="POST">
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Password" name="password">
      <button type="submit">Login</button>
    </form>
  </div>
</div>

<div style="padding-left:16px">
  <h2>Responsive Login Form in Navbar</h2>
  <form action="/register" method="POST">
    <div class="register-container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>
  
      <label for="psw"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw-repeat"><b> Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required>
      <hr>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

  {% if msg %}
  <p class="error"><strong>Logged in as:</strong> {{ msg }}
{% endif %}
</div>

</body>
</html>
